

* {
    font-size: 20px;
    font-family:Tahoma,Arial;
}

.pictures {
    width:20%;
    padding-top: 50px;
    padding: 15px;
    padding-bottom: 30px;
}


.text {
    font-size: 28px;
    text-align: justify;
    direction: rtl;
}


.text1 {
    font-size: 28px;
    text-align: center;
    direction: rtl;
}


.title1 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size:50px;
}



#gridContainer {
    display: grid;
    grid-template-areas:
    'picture picture form'
    'picture picture form'
    'picture picture form';
}

#item1 {
    grid-area: picture;
    width: 10px;

}

.onePicture{
    width: 600px;
}

#item2 {
    grid-area: form;
    text-align: right;
    width: 300px;
}

