/* --------------Style for General Design */

body {
<<<<<<< HEAD
  /--font-family: Calibri, Helvetica, sans-serif;/
=======
  /*--font-family: Calibri, Helvetica, sans-serif;*/
>>>>>>> 136ee9b423ffa2527ba98c17dab82ed727d87c11
  background-image: url("pictures/floor-tile.png"); /* The image used */
}

* {
  font-family: Calibri, Helvetica, sans-serif;
  box-sizing: border-box;
}


/* --------------Style the navigation bar & main & Footer */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.picturesMain{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #555;
    display:flex;
    justify-content: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
 }

p{
    font-size: 20px;
    font-weight: normal;
}

/* Navbar or footer links */
a {
  float: left;
  text-align: center;
  margin-right: 0.5%;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.video {
    float: none;
    text-align: center;
}

/* Navbar links on mouse-over */
a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #92aa3a;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* --------------Style about Us*/

.picturesAboutUs {
    width:20%;
    padding-top: 50px;
    padding: 15px;
    padding-bottom: 20px;
}

.picturesAbout{
       text-align: center;
}


.textAboutUs {
    font-size: 28px;
    text-align: center;
    direction: rtl;
}

h1{
    text-align: center;
    padding: 5px;
    font-size:50px;
    font-weight: bold;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.magazines{
    float:none;
    background-color: #4f6a07 ;
    color: white;
    margin: 10px;

}

.magazines:hover {
    background-color: #92aa3a;
}
/* --------------Style All Products Page*/


/* --------------Style Recipes*/

body {
  line-height: 1;
}

@font-face {
font-family: font1;
src: url(AmaticSC-Bold.ttf);
}

.body1 {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: font1;
  background-color: #EDE9E2;
}

/*
h1 {
padding-top: 50px;
  font-size: 45px;
  font-weight: 300;
  flex: 1;
}
*/

h4 {
  font-weight: 500;
  line-height: 1.7em;
}

h5 {
  color: #666;
  font-size: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;

  background-color: #dacec2;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
}
.icons {
  opacity: 0;
  width: 40%;
  margin: auto;
  cursor: pointer;
  transition: 0.4s;
}
.protuct-hover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  padding: 50% 0;
  transition: 0.3s;
}

.protuct-hover:hover {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.6;
}

.protuct-hover:hover .icons {
  opacity: 0.9;
}

.product-info {
  font-size: 30px;
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

/* --------------Style Photo Gallery*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container_photoGallery {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row_photoGallery:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column_photoGallery {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.displayPhoto{
    display: block;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

/* --------------Style Tour*/

.tourPicture{
    width: 100%;
}
.tourForm {
    width: 100%;

}

.textTour1 {
    font-size: 28px;
    text-align: center;
    direction: rtl;
    margin-bottom: 60px;
}

.textTour2 {
    font-size: 20px;
    text-align: right;
    direction: rtl;
}
#gridContainer {
    display: grid;
    grid-template-areas:
    'picture picture picture form'
    'picture picture picture form'
    'picture picture picture form';
     border-radius: 5px;
     background-color: #f2f2f2;
     text-align: right;
    align: center;

}

#item picture tour {
    grid-area: picture;
    width: 100px;
    text-align: left;
    padding-right: 10px;
}

#item form tour {
    grid-area: form;
    max-width: 30px;
    align: right;
    margin: 20px;
}

.titleTour {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size:50px;
}

input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


/* --------------Style Contact Us*/



/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.column4 {
  float: left;
  width: 25%;
  margin-top: 4px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.product-image {
  position: relative;
}
/* --------------QA */

.question {
  margin-right: 10vh;
  margin-left: 10vh;
  width: 80%;
  text-align:right;
  background-color: rgba(233, 196, 106, 0.6);
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 20px;
}

.question:hover {
  background-color: green;
}

.question:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  margin-right: 10vh;
  text-align:right;
  padding: 15px;
  display: none;
  background-color: transparent;
  height: 3vh;
  font-size: 17px;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #bfd783;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #92aa3a;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 300px;
}

/* Set a style for all buttons */
.button_QA {
  background-color: #8c858b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button_QA:hover {
  opacity: 0.8;
}

/* all inages in this page image */
img.qa {
  width: 10%;
  border-radius: 50%;
}

/* Extra styles for the cancel button */
#exitbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* --------------Style Login*/

/* --Style for login */

/* Bordered form */
.form_login {
  border: 3px solid #f1f1f1;
  text-align:right;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for signUp button*/
#button_signUp {
  background-color: #f44336;
}


/* Set a style for all buttons */
.button_login {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button_login:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 10%;
  border-radius: 50%;
}

/* Add padding to containers */
.container_login {
  padding: 16px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
#cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /background-color: #474e5d;/
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align:center;
}

/* Style the horizontal ruler */
/*hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
*/



/* --------------Style Shopping Cart*/

.titleCart{
      text-align: center;
      padding-top: 0px;
      padding-bottom: 15px;
      font-size:45px;
      color: #48422a;
      font-weight: bold;
}

.cart-quantity {
    max-width: 40pt;
    font-size: 25px;
    color: #48422a;
}

.cart-table img {
    max-width: 120px;
}

.payment button {
  text-align: center;
  width: 18%;
  font-size: 35px;
  color: #48422a;
  background-color: #9c7c81;
  border: none;
  cursor: pointer;
  align: center;
}

.pay button{
  text-align: center;
}

.payment button:hover {
  background-color: #E2DAD5;
  color: #48422a;
}

.cart-table {
    text-align: center;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 5px;
    width: 100%;
    border: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
      font-size: 30px;
      color: #48422a;
}

td {
    font-size: 25px;
    color: #48422a;
}