
/* --------------Style for General Design */

body {
  /*--font-family: Calibri, Helvetica, sans-serif;*/
}

* {
  font-family: Calibri, Helvetica, sans-serif;
  box-sizing: border-box;
}


/* --------------Style the navigation bar & main & Footer */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.picturesMain{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #555;
    display:flex;
    justify-content: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
 }

p{
    font-size: 20px;
    font-weight: normal;
}

/* Navbar or footer links */
a {
  float: left;
  text-align: center;
  margin-right: 0.5%;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Navbar links on mouse-over */
a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* --------------Style about Us*/

.pictures {
    width:20%;
    padding-top: 50px;
    padding: 15px;
    padding-bottom: 30px;
}


.text {
    font-size: 28px;
    text-align: justify;
    direction: rtl;
}


.text1 {
    font-size: 28px;
    text-align: center;
    direction: rtl;
}


.title1 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size:50px;
}



#gridContainer {
    display: grid;
    grid-template-areas:
    'picture picture form'
    'picture picture form'
    'picture picture form';
}

/* --------------Style All Products Page*/


/* --------------Style Recipes*/

body {
  line-height: 1;
}

@font-face {
font-family: font1;
src: url(AmaticSC-Bold.ttf);
}

.body1 {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: font1;
  background-color: #EDE9E2;
}


h1 {
padding-top: 50px;
  font-size: 45px;
  font-weight: 300;
  flex: 1;
}

h4 {
  font-weight: 500;
  line-height: 1.7em;
}

h5 {
  color: #666;
  font-size: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;

  background-color: #dacec2;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
}
.icons {
  opacity: 0;
  width: 40%;
  margin: auto;
  cursor: pointer;
  transition: 0.4s;
}
.protuct-hover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  padding: 50% 0;
  transition: 0.3s;
}

.protuct-hover:hover {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.6;
}

.protuct-hover:hover .icons {
  opacity: 0.9;
}

.product-info {
  font-size: 30px;
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

/* --------------Style Photo Gallery*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container_photoGallery {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row_photoGallery:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column_photoGallery {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.displayPhoto{
    display: block;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

/* -------------- tour  */

.onePicture{
    width: 600px;
}

.text2 {
    font-size: 28px;
    text-align: center;
    direction: rtl;
}

#item1 {
    grid-area: picture;
    width: 10px;

}


#item2 {
    grid-area: form;
    text-align: right;
    width: 300px;
}

.title2 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size:50px;
}

/* --------------Style Contact Us*/



/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.column4 {
  float: left;
  width: 25%;
  margin-top: 4px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.product-image {
  position: relative;
}
/* --------------Style Q&A*/

/* --------------Style Login*/

/* --------------Style Shopping Cart*/



