{% extends 'base.html' %}

{% set page_head_title = 'tours' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('tours.static', filename='css/tours.css') }}"/>
{% endblock %}

{% block page_body_main %}

    <hr>
    <h1 class="titleTour">סיור מודרך במשק</h1>
    <hr>
    <p class="textTour1">
        מזמינים אתכם להצטרף לסיור מודרך בשטחים החקלאיים שלנו!<br>
        במהלך הסיור נלמד על עקרונות הגידול האורגני <br>
        ונקטוף פירות וירקות טריים ישר מהאדמה. <br>
        בסוף הסיור נכין סלטים ותבשילים מהפירות וירקות שליקטנו.<br>
    </p>
    <hr>
    <div class="grid-container">
        {% for tour_distinct in tours_list_distinct %}
            <div class="grid-item">
                {{ tour_distinct.tour_name }}
                <br>
                <br>
                <img src={{ tour_distinct.picture }} alt="picking" width="260" height="160" class="picturesMain">
                <p>
                    {{ tour_distinct.description }} <br>
                    {{ tour_distinct.ticket_price }} :מחיר לכרטיס <br>
                    :תאריכים אפשריים <br>
                    {% for tour in tour_list %}
                        {% if tour.tour_name == tour_distinct.tour_name %}
                            {{ tour.tour_dt }} , {{ tour.places_left }} :מקומות פנויים <br>
                            <br>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>



    {% if session.email %}
        <button id=btnGridContainer1 class=formButton type="button" onclick=openForm('1')>פתיחת טופס הרשמה לסיור</button>
        <div id="gridContainer1" style="display: none"  dir="rtl">
            <div id="item form tour">
                <h2 class="titleTour">טופס הרשמה לסיור</h2>
                <p class="textTour2">
                    מלאו את הפרטים על מנת לבצע הזמנה לאחד מסיורי המשק (:<br>
                </p>
                {% if order_check_list != [] %}
                    {% if order_check_list[0] == False %}
                        <p class="textTour3">
                            לצערנו חסרים {{ order_check_list[1] }} מקומות לסדנא, אנא הירשם/עדכן הזמנה מחדש עם
                            כמות
                            כרטיסים תקינה
                            <br>
                        </p>
                    {% elif order_check_list[2] == True %}
                        <p class="textTour3">
                            הזמנתך התקבלה! שמחים שבחרת להצטרף לסיור שלנו(:<br>
                        </p>
                    {% elif order_check_list[3] == True %}
                        <p class="textTour3">
                            עדכון ההזמנה בוצע בהצלחה<br>
                        </p>
                    {% elif order_check_list[4] == True %}
                        <p class="textTour3">
                            ביטול הרשמה לסיור בוצע בהצלחה<br>
                        </p>
                    {% endif %}
                {% endif %}

                <form class="tourForm" method="GET" action="/tourOrder" name="myForm">
                    <label for="tourDate">תאריך ושעת הסיור המבוקש</label><br>
                    <select name="tourDate" id="tour_dt"><br>
                        {% for key,value in tour_dates.iterrows() %}
                            <option name="tourDate"
                                    value='{{ value['tour_dt'] }}'>{{ value['tour_dt'] }} {{ value['tour_name'] }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="numOfTickets">כמות כרטיסים</label><br>
                    <input style="text-align:right" type="text" id="numOfTickets" name="numOfTickets"
                           onblur="checkNumOfTickets('numOfTickets')"><br>
                    <button class="ConfirmationButton" type="submit"
                            onclick="submitFormTours('tour_dt','numOfTickets')">לחץ לאישור
                    </button>
                </form>
            </div>
        </div>
        <br>
        {% if user_tours %}
            <button id=btnGridContainer2 class=formButton type="button" onclick=openForm('2')>פתיחת טופס עדכון סיור קיים</button>
            <div id="gridContainer2" style="display: none" dir="rtl">
            <h2 class="titleTour"> עדכון הזמנה</h2>
            <p class="textTour2">באפשרותך לעדכן את כמות הכרטיסים או לבטל רישום קיים</p>
            <form method="GET" action="/update_tour_order">
                <select name="tourDateForUpdate" id="tour_dt_update"><br>
                    {% for tour in user_tours %}
                        <option name="tourDateForUpdate"
                                value='{{ tour.tour_dt }}'>{{ tour.tour_dt }} {{ tour.tour_name }} </option>
                    {% endfor %}
                </select><br>
                <label for="updateNumTickets">כמות כרטיסים</label><br>
                <input name="updateNumTickets" id="updateNumTickets" type="text"
                       onblur="checkNumOfTickets('updateNumTickets')">
                <br>
                <input type="submit" class="sumbitFrom" name="submit_button" value="עדכן כמות כרטיסים"
                       onclick="submitFormTours('tour_dt_update','updateNumTickets')">
                <input type="submit" class="sumbitFrom" name="submit_button" value="בטל רישום לסיור">
            </form>
            </div>
        {% endif %}

    {% else %}
        <h3> על מנת להירשם לסיורי המשק יש להתחבר לאתר</h3>
        <br>
    {% endif %}
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('tours.static', filename='js/tours.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
{% endblock %}
