{% extends 'base.html' %}

{% set page_head_title = 'tours' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('tours.static', filename='css/tours.css') }}"/>
{% endblock %}

{% block page_body_main %}

    <hr>
    <h1 class="titleTour">סיור מודרך במשק</h1>
    <hr>
    <p class="textTour1">
        מזמינים אתכם להצטרף לסיור מודרך בשטחים החקלאיים שלנו!<br>
        במהלך הסיור נלמד על עקרונות הגידול האורגני <br>
        ונקטוף פירות וירקות טריים ישר מהאדמה. <br>
        בסוף הסיור נכין סלטים ותבשילים מהפירות וירקות שליקטנו.<br>
    </p>
    <hr>
    <div class="grid-container">
        {% for tour in tours_list %}
            <div class="grid-item">
                {{ tour.tour_name }}
                <br>
                <br>
                <img src={{ tour.picture }} alt="picking" width="260" height="160" class="picturesMain">
                <p>
                    {{ tour.tour_dt }} :תאריך ושעה <br>
                    {{ tour.ticket_price }} :מחיר לכרטיס <br>
                    {{ tour.description }} <br>
                    {{ tour.places_left }} :מקומות פנויים <br>
                </p>
            </div>
        {% endfor %}
    </div>

    {#    <button class=formButton type="button" onclick=openForm()>הירשם</button>#}
    <div id="gridContainer">
        <div id="item form tour">
            <h1 class="titleTour">טופס הרשמה לסיור</h1>
            <p class="textTour2">
                בטופס זה באפשרותכם להירשם לסיור/לעדכן את כמות הכרטיסים עבור רישום קיים/לבטל הרשמה.<br>
                אם ברצונכם לעדכן את כמות הכרטיסים עבור הזמנה שביצעתם הזינו את הפרטים הבאים:<br>
                כתובת האימייל איתה ביצעתם את הרישום, תאריך הסיור ואת כמות הכרטיסים העדכנית הרצויה.<br>
               אם ברצונכם לבטל הרשמה הזינו בכמות הכרטיסים 0.<br>
            </p>
            {% if check_list[0] == False %}
                <p class="textTour3">
                    לצערנו חסרים {{ check_list[1] }} מקומות לסדנא, אנא הירשם/עדכן הזמנה מחדש עם כמות כרטיסים תקינה <br>
                </p>
            {% elif check_list[2] == False %}
                <p class="textTour3">
                    כתובת המייל שהוזנה אינה מזוהה במערכת, על מנת להירשם לסיור הזן מייל של משתמש רשום במערכת<br>
                </p>
            {% elif check_list[3] == False %}
                <p class="textTour3">
                    לא קיים סיור בתאריך שנבחר<br>
                </p>
            {% elif check_list[4] == False %}
                <p class="textTour3">
                    כמות הכרטיסים עבור הסיור המבוקש עודכנה<br>
                </p>
            {% elif check_list[5] %}
                <p class="textTour3">
                    הזמנתך התקבלה! שמחים שבחרת להצטרף לסיור שלנו(:<br>
                </p>
            {% endif %}

            <form class="tourForm" method="POST" action="/tours" name="myForm">
                <label for="emailaddress"> כתובת מייל (בהתאם למשתמש הרשום המערכת)</label><br>
                <input style="text-align:right" type="text" id="emailaddress" name="emailaddress"
                       onblur="checkEmail('emailaddress')"><br>
                <label for="tour date">תאריך ושעת הסיור המבוקש</label><br>
                <select name="tour date" id="tour_dt"><br>
                    {% for date in tour_dates %}
                        <option  name="tour date" value='{{ date.tour_dt }}'>{{ date.tour_dt }}</option >
                    {% endfor %}
                </select><br>
                <label for="numOfTickets">כמות כרטיסים</label><br>
                <input style="text-align:right" type="text" id="numOfTickets" name="numOfTickets"
                       onblur="checkNumOfTickets('numOfTickets')"><br>
                <button class="ConfirmationButton" type="submit" onclick="submitFormTours()">לחץ לאישור</button>
            </form>
        </div>
    </div>
    <br>
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('tours.static', filename='js/tours.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
{% endblock %}
