{% extends 'base.html' %}

{% set page_head_title = 'photoGallery' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('photoGallery.static', filename='css/photoGallery.css') }}"/>
{% endblock %}

{% block page_body_content %}
    <h1>photoGallery</h1>
    <p>This is an example photoGallery page</p>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('photoGallery.static', filename='js/photoGallery.js') }}"></script>
{% endblock %}
