
/* --------------Style All Products Page*/

.product-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.product-container > div {
      background-color: rgba(211,224,212, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.product-item {
  border: solid;
  transition: transform 1s;
}

.product-item:hover {
  transform: scale(1.1);
  cursor:pointer;
}


/*take from shop*/

.quantity-field {
  max-width: 40pt;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f2f2f2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.button-minus,
.button-plus {
  font-weight: bold;
  font-size: 25px;
  height: 3vh;
  padding: 0;
  width: 3vh;
  position: relative;
  background-color: transparent;
  border: transparent;


}