
{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{url_for('homepage.static', filename='css/homepage.css')}}"/>
{% endblock %}

{% block page_body_main %}
    <hr>
        {% if (msg ==2) %}
            <p class="messagesFromLogin" dir="rtl" > שלום {{ session.first_name }}, התחברות בוצעה בהצלחה </p><hr>
        {% endif %}

        {% if (msg ==1) %}
            <p class="messagesFromLogin" dir="rtl" > התנתקות בוצעה בהצלחה </p><hr>
        {% endif %}
        <h1>ברוכים הבאים למשק שוורצמן </h1>
    <hr>
    <div class="pic">
        <img src="../../../static/media/img/logoWithoutBackgroung.png" alt="Shvarzman Logo" class="picturesMain">
    </div>


    <div class="video">
        <br>
        <br>
        <iframe width="600" height="400"
                src="https://www.youtube.com/embed/o_--WnRCi3w">
        </iframe><br><br><br><br>
    </div>

    <div class="grid-container">
        <div class="grid-item">מתכון יומי
            <p>{{ recipe_name }}</p>
            <img src={{ recipe_pic }} alt="fency Salad" width="260" height="160" class="picturesMain">
            <button type="button" onclick=window.location='/recipesPage'>למתכונים נוספים לחץ כאן</button>
        </div>
        <div class="grid-item">שעות פעילות
            <p>
                יום שני- 11:00-17:30<br>
                ימים שלישי עד חמישי- 08:00-17:30<br>
                יום שישי- 08:00-14:00<br>
                שבת-ראשון- סגור <br>
            </p>
            <img src="../../../static/media/img/weekly.png" alt="weekly calender" width="480" height="160" class="picturesMain">
        </div>
        <div class="grid-item">מבצעי השבוע
            <br><br>
            <img src="../../../static/media/img/bazil.jpg" alt="greens" width="260" height="160" class="sildes">
            <img src="../../../static/media/img/green2.jpg" alt="greens" width="260" height="160" class="sildes">
            <img src="../../../static/media/img/green3.jpg" alt="greens" width="260" height="160" class="sildes">
            <img src="../../../static/media/img/green4.jpg" alt="greens" width="260" height="160" class="sildes">
            <p>
                !כל הירקות הירוקים ב50 אחוז הנחה<br>
            </p>
        </div>

    </div>

    <script>
        var index = 0;
        change();

        function change() {
            var x = document.getElementsByClassName('sildes');
            for (var i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            index++;

            if (index > x.length) {
                index = 1;
            }
            x[index - 1].style.display = "block";

            //set loop to change image every 3000 milliseconds (3 seconds)
            setTimeout(change, 3000);
        }
    </script>

{% endblock %}
