<head>
    <script src="https://kit.fontawesome.com/8f059f76f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<footer>
    <a class="nav" href="https://www.facebook.com/Meshek.Shvarzman/"><i class="fab fa-facebook"></i></a>
    <a class="nav"
       href="https://www.google.com/maps/place/%D7%9E%D7%A9%D7%A7+%D7%A9%D7%95%D7%95%D7%A8%D7%A6%D7%9E%D7%9F%E2%80%AD/@31.9444462,34.773705,17z/data=!4m5!3m4!1s0x1502b6ad13bd5d89:0x7f627dbb7f6dfc50!8m2!3d31.9444462!4d34.7758937"><i
            class="fas fa-map-marker-alt"></i></a>
    <a class="nav" href="https://www.instagram.com/meshek.shvarzman/"><i class="fab fa-instagram"></i></a>
</footer>



