{% extends 'base.html' %}

{% set page_head_title = 'productsPage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('productsPage.static', filename='css/productsPage.css') }}"/>
{% endblock %}

{% block page_body_content %}
    <h1>productsPage</h1>
    <p>This is an example productsPage  page</p>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('productsPage.static', filename='js/productsPage.js') }}"></script>
{% endblock %}
