{% extends 'base.html' %}

{% set page_head_title = 'productsPage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productsPage.css') }}"/>
{% endblock %}

{% block page_body_main %}
    <div>
        <hr>
        <h1>מוצרים</h1>
        <hr>
    </div>

    <div class="product-container" dir="rtl">
        {% for product in products %}
            <div class="product-item">
                <h3>{{ product.product_name }} </h3>
                <p>מחיר לקילו - {{ product.product_price }}  ש"ח </p>
                <img src={{ product.product_picture }} width="200" height="135">
                <input type="number" step="1" max="" value="0" name="quantity" min="0" class="quantity-field">
                 <button type="submit" id=btnPro{{ product.product_id}} class="question-btn" onclick=window.location='/productsPage' >הוסף לסל</button>
            </div>
        {% endfor %}
    </div>
     <hr>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('productsPage.static', filename='js/productsPage.js') }}"></script>
{% endblock %}
