{% extends 'base.html' %}

{% set page_head_title = 'productsPage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('productsPage.static', filename='css/productsPage.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div>
        <hr>
        <h1>מוצרים</h1>
        <hr>
    </div>

     {% if 'quantity' in request.args %}
        <h2>product from search</h2>
        product: {{ new_product }}
    {% endif %}

    <div class="product-container" dir="rtl">
        {% for product in products %}
            <!--<form class="modalPro-content"  action="/productPage" method="GET">-->
            <div class="product-item">
                <h3>{{ product.product_name }} </h3>
                <p>מחיר לקילו - {{ product.product_price }}  ש"ח </p>
                <img src={{ product.product_picture }} width="200" height="135"> <br>
                <input type="submit" id=btnPro{{ product.product_id}} class="question-btn" name={{ product.product_id }}
                        onclick="document.getElementById('productPage{{ product.product_id}}').style.display='block'" value="להוספה לסל"></input>
                <!-- Button to open the modal -->
            </div>

            <!-- The Modal (contains the ProductPage form) -->
            <div class="modal_product" id=productPage{{ product.product_id}} >
                <!--<span onclick="document.getElementById('productPage{{ product.product_id}}').style.display='none'" class="close" title="Close Modal"></span>-->
                <form class="modalPro-content"  action="/productPage" method="GET">
                    <div class="container_ProductPage">
                        <h1> {{ product.product_name }}</h1><hr>
                        <img src={{ product.product_picture }} width="200" height="135">
                        <p>בבקשה מלאי את מספר היחידות שאת רוצה מהמוצר</p>
                        <input type="button" value="-" class="button-minus" data-field="quantity">
                        <input type="number" id=btnquantity{{ product.product_id}} step="1" max="" value="0" name="quantity" min="0" class="quantity-field">
                        <input type="button" value="+" class="button-plus" data-field="quantity"><br>
                        <input type="submit" id=btnShop{{ product.product_id}} class="question-btn" value="הוסף לסל"></input>
                        <button type="button" id="cancelbtn" onclick="document.getElementById('productPage{{ product.product_id}}').style.display='none'">יציאה</button>
                    </div>
                </form>

            </div>
            <!--</form>-->
        {% endfor %}
    </div>
     <hr>

{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('productsPage.static', filename='js/productsPage.js') }}"></script>
{% endblock %}
